
body {
  font-family: 'Montserrat', sans-serif;
}



.continue-btn{
  color: white;
  background-color: #0B453C;
  padding: 7px 17px;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 2px;
}
